NEXT_PUBLIC_ENV={NEXT_PUBLIC_ENV}

# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID={NEXT_PUBLIC_GOOGLE_CLIENT_ID}
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET={NEXT_PUBLIC_GOOGLE_CLIENT_SECRET}

NEXT_PUBLIC_IS_LOGIN_ENABLED={NEXT_PUBLIC_IS_LOGIN_ENABLED}

# API Base URLs
NEXT_PUBLIC_BASE_URL_PROD={NEXT_PUBLIC_BASE_URL_PROD}
NEXT_PUBLIC_BASE_URL_UAT={NEXT_PUBLIC_BASE_URL_UAT}


# Cohort Service Configuration
NEXT_PUBLIC_ENABLE_COHORT={NEXT_PUBLIC_ENABLE_COHORT}
NEXT_PUBLIC_COHORT_URL_PROD={NEXT_PUBLIC_COHORT_URL_PROD}
NEXT_PUBLIC_COHORT_URL_UAT={NEXT_PUBLIC_COHORT_URL_UAT}

# Event Service Configuration
NEXT_PUBLIC_EVENT_URL_PROD={NEXT_PUBLIC_EVENT_URL_PROD}
NEXT_PUBLIC_EVENT_URL_UAT={NEXT_PUBLIC_EVENT_URL_UAT}

# System Properties Configuration
NEXT_PUBLIC_SYSTEM_PROPERTIES_URL={NEXT_PUBLIC_SYSTEM_PROPERTIES_URL}

# Permission System Configuration
NEXT_PUBLIC_ENABLE_PERMISSION={NEXT_PUBLIC_ENABLE_PERMISSION}
NEXT_PUBLIC_PERMISSION_S3_URL={NEXT_PUBLIC_PERMISSION_S3_URL}

# Organizations/Tenant Configuration
NEXT_PUBLIC_ORGANIZATIONS_ENABLE_TENANT={NEXT_PUBLIC_ORGANIZATIONS_ENABLE_TENANT}
NEXT_PUBLIC_ORGANIZATIONS={NEXT_PUBLIC_ORGANIZATIONS}
